.box{
  border: grey solid 2px;
  position: absolute;
  top: 20px;
  width: 75%;
  height: 75%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  

.sub_box {
  height: 30px;
  width: 100px;
  margin: 35px auto;
  /*border: red 1px solid;
  background-color: #E97D5E;
  color: white;*/
  border: green 1px solid;
  background-color: lightgreen;
  color: black;
  border-radius: 10px;
  
}


.sub_box:before {
  content: "\293E" ; /*"\&#10558" in HTML*/
  font-size: 40px;
  font-weight: 900;
  color: green;
}
.sub_box:nth-of-type(odd):before {
  display: block;
  transform: scaleX(-1);
  position: relative;
  left: -105px;
  top: -12px;
}
.sub_box:nth-of-type(even):before {
  display: block;
  position: relative;
  left: 105px;
  top: -12px;
}
.sub_box:nth-of-type(1):before {
  display: none;
}



.sub_box:nth-of-type(odd) {
  transform:rotate(45deg);
}

.sub_box:nth-of-type(even) {
  transform:rotate(-45deg);
}

.sub_box:nth-of-type(odd) p {
  position: absolute;
  top: 2px;
  left: 15px;
}

.sub_box:nth-of-type(even) p {
  position: absolute;
  top: 2px;
  left: 10px;
}


/* 1 Filtration */
/*.sub_box:nth-child(1){
  background-color: lightblue;
  border: purple 2px solid;
  font-weight: bold;
  transform:rotate(90deg);
}
.sub_box:nth-child(1):after {
  position: absolute;
  display: block;
  box-shadow: 0 0 0 6px purple;
  background: ligtgreen;    
  border-radius: 50%;  
  height: 16px;
  width: 16px;
  content: "";
  top: 5px;
  left: -10px;
}

/* 2 Normalization */
/*.sub_box:nth-child(2){
  background-color: lightblue;
  border: purple 2px solid;
  font-weight: bold;
  transform:rotate(90deg);
}

.sub_box:nth-child(2):after {
  position: absolute;
  display: block;
  box-shadow: 0 0 0 6px purple;
  background: white;    
  border-radius: 50%;  
  height: 16px;
  width: 16px;
  content: "";
  top: 5px;
  left: -15px;
}


/* 3 Imputation */
/*.sub_box:nth-child(3){
  background-color: lightblue;
  border: purple 2px solid;
  font-weight: bold;
  transform:rotate(90deg);
}
.sub_box:nth-child(3):after {
  position: absolute;
  display: block;
  box-shadow: 0 0 0 6px purple;
  background: white;    
  border-radius: 50%;  
  height: 16px;
  width: 16px;
  content: "";
  top: 5px;
  left: -10px;
}

/* 4 Agregation */
/*.sub_box:nth-child(4){
  background-color: lightblue;
  border: purple 2px solid;
  font-weight: bold;
  transform:rotate(90deg);
}
.sub_box:nth-child(4):after {
  position: absolute;
  display: block;
  box-shadow: 0 0 0 6px purple;
  background: white;    
  border-radius: 50%;  
  height: 16px;
  width: 16px;
  content: "";
  top: 5px;
  left: -15px;
}


/*
.sub_box:hover:nth-child(even):after {
  position: absolute;
  display: block;
  box-shadow: 0 0 0 6px purple;
  background: white;    
  border-radius: 50%;  
  height: 16px;
  width: 16px;
  content: "";
  top: 8px;
  left: 108px;
}


.sub_box:hover:nth-child(odd):after {
  position: absolute;
  display: block;
  box-shadow: 0 0 0 6px purple;
  background: white;    
  border-radius: 50%;  
  height: 16px;
  width: 16px;
  content: "";
  top: 8px;
  left: -25px;
  
}


.sub_box:hover{
  background-color: lightblue;
  border: purple 2px solid;
  font-weight: bold;
}
