
/*.dropdown{
 border: grey solid 1px ;
 margin: 0 2px 0 2px ;
}*/

/*h2, h3, h4{
 color: blue ;
 text-align: center;
}
*/
/*#v_timeline{
 color: black ;
 border: dotted black 1px ;
 margin: auto ;
}
*/

