/*
https://codepen.io/xram/pen/thLsk
https://jsfiddle.net/lmgonzalves/ew90tyoq/2/

https://stackoverflow.com/questions/19058421/how-to-change-content-on-hover
https://developer.mozilla.org/en-US/docs/Web/CSS/::after#Tooltips
*/

.box{
  /*background-color: lightgrey;
  width: 75%;
  height: 400px;*/
  position: absolute;
  top: 20px;
  left: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.6em ;/*abbr*/
  color: lightgrey;
}


.sub_box{
  margin: -3px auto;
  padding-top: 35px;
  border: 6px solid purple;
  border-radius: 50%;
  height: 110px;
  width: 110px;
}



.sub_box:nth-child(odd){
  border-bottom-color: transparent;
  border-left-color: transparent;
  transform: rotate(45deg);
}

.sub_box:nth-child(odd) p {
  transform: rotate(-45deg);
}


.sub_box:nth-child(even) {
  border-bottom-color: transparent;
  border-left-color: transparent;
  transform: rotate(225deg);
}


.sub_box:nth-child(even) p {
  transform: rotate(-225deg);
  position: relative;
  top: 4px;
}
  




/* 1 Filtration */
  /*current*/
/*  .sub_box:nth-child(1) {
    z-index: 1;
    border: 6px solid grey;
    border-radius: 50%;
    background-color: lightblue ;
    color: black;
    font-weight: bold;
    font-size: 1em ;
  }*/
  /*past*/
  .sub_box:nth-child(1) {
    border: 6px solid grey;
    border-radius: 50%;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
/* 2 Normalization */
  /*current*/
  /*.sub_box:nth-child(2) {
    z-index: 1;
    border: 6px solid green;
    border-radius: 50%;
    background-color: lightblue ;
    color: black;
    font-weight: bold;
    font-size: 0.65em ;
  }
  /*past*/
  .sub_box:nth-child(2) {
    border: 6px solid grey;
    border-radius: 50%;
    border-bottom-color: transparent;
    border-left-color: transparent;
    font-size: 0.65em ;
  }

/* 3 Imputation */
  /*current*/
/*  .sub_box:nth-child(3) {
    z-index: 1;
    border: 6px solid red;
    border-radius: 50%;
    background-color: lightblue ;
    color: black;
    font-weight: bold;
    font-size: 0.85em ;
  }
  /*past*/
  .sub_box:nth-child(3){
    border: 6px solid grey;
    border-bottom-color: transparent;
    border-left-color: transparent;
    font-size: 0.85em ;
  }
/* 4 Agregation */
  /*current*/
  .sub_box:nth-child(4) {
    z-index: 1;
    border: 6px solid green;
    border-radius: 50%;
    background-color: lightblue ;
    color: black;
    font-weight: bold;
    font-size: 0.7em ;
  }
  /*.sub_box:nth-child(4){
    border-bottom-color: transparent;
    border-left-color: transparent;
  }*/


/*.sub_box:nth-child(1):before { (-n+3)
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  border: 4px solid grey;
  background: lightgrey;
  opacity: 0.7;
  border-radius: 50%;
  height: 95px;
  width: 95px;
}
